<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Calendar</title>
  <!-- 스타일 시트 연결 -->
  <link rel="stylesheet" href="calendardetail.css" type=" text/css">
</head>
<body>
  <h4>calendar</h4>
  <!--닉네임 요소-->
  <div class="name">
    <img src="./img/닉네임.png" alt="nickname">
  </div>

  <!-- 디테일 요소 -->
  <!--몸무게 요소-->
  <div class="DetailElement" id="detail1" >
    <div class="image">
    <img src="\img\캘린더디테일요소.png">
  </div>
    <div class="detail-text">
      <p>몸무게</p>
    </div>
  </div>

<!--유저의 정보 출력-->
<div>
  <%= users.userNickname %>
  <%= users.weight %>
  <%= users.sleeptime %>
  <%= users.intake %>
  <%= users.consumed %>
  <%= users.intake - users.consumed %>  
</div>


  <script src="./calendardetail.js"></script>
</body>
</html>