<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매일 기록</title>
    <link href="/dailyrecord.css" rel="stylesheet">
<body>
    <div class="container">
        <div class="left-panel">
            <h2>매일 기록</h2>
            <form action="/submit-form" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">식단</label>
                    <button type="submit" name="meal" value="breakfast" class="btn btn-primary">아침</button>
                    <button type="submit" name="meal" value="lunch" class="btn btn-primary">점심</button>
                    <button type="submit" name="meal" value="dinner" class="btn btn-primary">저녁</button>
                </div>
            </form>
            <form action="/dailyrecordexercise" method="GET">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">운동량</label>
                </div>
                <button type="submit" class="btn btn-primary">기록하기</button>
            </form>
            <form action="/dailyrecordsleeptime" method="GET">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">수면시간</label>
                </div>
                <button type="submit" class="btn btn-primary">기록하기</button>
            </form>
        </div>

        <div class="right-panel">
            <h2>오늘의 수면 시간</h2>
            <p class="centered">
                <% if (sleepTime) { %>
                    <%= sleepTime.sleepHour %>시간 <%= sleepTime.sleepMinute %>분
                <% } else { %>
                    수면 기록이 없습니다.
                <% } %>
            </p>
            <h2>오늘의 운동</h2>
            <p>
                <% if (useres.length > 0) { %>
                    <ul id="exerciseList">
                        <% useres.forEach(function(exercise, index) { %>
                            <li class="centered">
                                <%= exercise.exerciseName %> (소모 칼로리: <%= exercise.caloriesBurned %>kcal)
                                <button class="deleteButton exercise" data-id="<%= exercise._id %>">삭제</button>
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    운동 기록이 없습니다.
                <% } %>    
            </p>
            <p class="centered-kcal">오늘 소모한 칼로리: <%= parseInt(burned) %>kcal</p>

            <h2>오늘의 아침</h2>
            <ul class="centered">
                <% userbf.forEach(function(item) { %>
                    <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)
                        <button class="deleteButton breakfast" data-id="<%= item._id %>">삭제</button>
                    </li>
                <% }); %>
            </ul>

            <h2>오늘의 점심</h2>
            <ul class="centered">
                <% userlc.forEach(function(item) { %>
                    <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)
                        <button class="deleteButton lunch" data-id="<%= item._id %>">삭제</button>
                    </li>
                <% }); %>
            </ul>

            <h2>오늘의 저녁</h2>
            <ul class="centered">
                <% userdn.forEach(function(item) { %>
                    <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)
                        <button class="deleteButton dinner" data-id="<%= item._id %>">삭제</button>
                    </li>
                <% }); %>
            </ul>
            <p class="centered">오늘 섭취한 칼로리: <%= intake %>kcal</p>
            <button id="redirectButton" class="btn btn-primary">홈페이지로 이동</button>
        </div>
    </div>
    <div id="message"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
        var messageDiv = document.getElementById('message');
        var message = "헬뚝이는 매일 기록 페이지에서 식단, 운동, 수면 시간을 최소 1회 기록하면 생성됩니다!";
    
    messageDiv.innerText = message;

    var deleteButtons = document.querySelectorAll('.deleteButton');
    deleteButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var mealType = '';
            var itemId = this.getAttribute('data-id');
            var exerciseId = this.getAttribute('data-id');

            if (button.classList.contains('exercise')) {
                fetch('/delete-exercise', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: exerciseId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('데이터 삭제 실패');
                    }
                })
                .catch(error => console.error('Error:', error));
            } else {
                if (button.classList.contains('breakfast')) {
                    mealType = 'breakfast';
                } else if (button.classList.contains('lunch')) {
                    mealType = 'lunch';
                } else if (button.classList.contains('dinner')) {
                    mealType = 'dinner';
                }
                fetch('/delete-item', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: itemId, type: mealType })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('데이터 삭제 실패');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });
    });
});
function showPopup() {
        window.location.href = "/homePage";
    }

    document.getElementById('redirectButton').addEventListener('click', showPopup);
    </script>
</body>
</html>



