<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매일 기록</title>
</head>
<body>
    <div class="container">
        <h2>매일 기록</h2>
        <form action="/submit-form" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">식단</label>
                <button type="submit" name="meal" value="breakfast" class="btn btn-primary">아침</button>
                <button type="submit" name="meal" value="lunch" class="btn btn-primary">점심</button>
                <button type="submit" name="meal" value="dinner" class="btn btn-primary">저녁</button>
            </div>
        </form>        
        <form action="/dailyrecordexercise" method="GET">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">운동량</label>
            </div>
            <button type="submit" class="btn btn-primary">기록하기</button>
        </form>
        <form action="/dailyrecordsleeptime" method="GET">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">수면시간</label>
            </div>
            <button type="submit" class="btn btn-primary">기록하기</button>
        </form>
        
        <h2>오늘의 수면 시간</h2>
        <p>
            <% if (sleepTime) { %>
                <%= sleepTime.sleepHour %>시 <%= sleepTime.sleepMinute %>분
            <% } else { %>
                수면 기록이 없습니다.
            <% } %>
        </p>
        <h2>오늘의 운동</h2>
        <p>
            <% if (useres.length > 0) { %>
                <ul id="exerciseList">
                    <% useres.forEach(function(exercise, index) { %>
                        <li>
                            <%= exercise.exerciseName %> (소모 칼로리: <%= exercise.caloriesBurned %>kcal)
                            <button class="deleteButton" data-id="<%= exercise._id %>">삭제</button>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                운동 기록이 없습니다.
            <% } %>    
        </p>

        <h2>오늘의 아침</h2>
        <ul>
            <% userbf.forEach(function(item) { %>
                <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)
                    <button class="deleteButton breakfast" data-id="<%= item._id %>">삭제</button>
                </li>
            <% }); %>
        </ul>

        <h2>오늘의 점심</h2>
        <ul>
            <% userlc.forEach(function(item) { %>
                <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)
                    <button class="deleteButton lunch" data-id="<%= item._id %>">삭제</button>
                </li>
            <% }); %>
        </ul>

        <h2>오늘의 저녁</h2>
        <ul>
            <% userdn.forEach(function(item) { %>
                <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)
                    <button class="deleteButton dinner" data-id="<%= item._id %>">삭제</button>
                </li>
            <% }); %>
        </ul>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var deleteButtons = document.querySelectorAll('.deleteButton');
            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var mealType = '';
                    var itemId = this.getAttribute('data-id');

                    if (button.classList.contains('exercise')) {
                        fetch('/delete-exercise', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: itemId })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.reload();
                            } else {
                                alert('데이터 삭제 실패');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    } else {
                        if (button.classList.contains('breakfast')) {
                            mealType = 'breakfast';
                        } else if (button.classList.contains('lunch')) {
                            mealType = 'lunch';
                        } else if (button.classList.contains('dinner')) {
                            mealType = 'dinner';
                        }
                        fetch('/delete-item', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: itemId, type: mealType })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.reload();
                            } else {
                                alert('데이터 삭제 실패');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                });
            });
        });
    </script>
</body>
</html>
