<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매일 기록</title>
</head>
<body>
    <div class="container">
        <h2>매일 기록</h2>
        <form action="/submit-form" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">식단</label>
                <button type="submit" name="meal" value="breakfast" class="btn btn-primary">아침</button>
                <button type="submit" name="meal" value="lunch" class="btn btn-primary">점심</button>
                <button type="submit" name="meal" value="dinner" class="btn btn-primary">저녁</button>
            </div>
        </form>        
        <form action="/dailyrecordexercise" method="GET">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">운동량</label>
            </div>
            <button type="submit" class="btn btn-primary">기록하기</button>
        </form>
        <form action="/dailyrecordsleeptime" method="GET">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">수면시간</label>
            </div>
            <button type="submit" class="btn btn-primary">기록하기</button>
        </form>
        
        <h2>오늘의 수면 시간</h2>
        <p>
            <% if (sleepTime) { %>
                <%= sleepTime.sleepHour %>시 <%= sleepTime.sleepMinute %>분
            <% } else { %>
                수면 기록이 없습니다.
            <% } %>
        </p>
        <h2>오늘의 운동 정보</h2>
<p>
    <% if (useres.length > 0) { %>
        <ul>
            <% useres.forEach(function(exercise) { %>
                <li><%= exercise.exerciseName %> (소모 칼로리: <%= exercise.caloriesBurned %>kcal)</li>
            <% }); %>
        </ul>
    <% } else { %>
        운동 기록이 없습니다.
    <% } %>    
</p>

<h2>오늘의 아침</h2>
<ul>
    <% userbf.forEach(function(item) { %>
        <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)</li>
    <% }); %>
</ul>

<h2>오늘의 점심</h2>
<ul>
    <% userlc.forEach(function(item) { %>
        <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)</li>
    <% }); %>
</ul>

<h2>오늘의 저녁</h2>
<ul>
    <% userdn.forEach(function(item) { %>
        <li><%= item.menuName %> (칼로리: <%= item.calories %>kcal)</li>
    <% }); %>
    </ul>

    </div>
    <script>
        function redirectToMealPage(meal) {
            // 각 버튼에 해당하는 meal 값을 가지고 dailyrecordmeal.html 페이지로 이동
            location.href = '/dailyrecordmeal?meal=' + meal;
        }
    </script>
</body>
</html>
